.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-font-feature-settings: "kern" 1;
  font-feature-settings: "kern";
  background-color: #000;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  max-width: 1280px;
  min-width: 320px;
}