.popup__container {
  margin: auto;
  z-index: 2;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, .15);
  position: relative;

  /*visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;*/
}

/*.popup__container:hover {
  visibility: visible;
  opacity: 1;
}*/


@media (max-width: 619px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }
}