.form__item {
  font-family: inherit;
  border: 0;
  width: 100%;
  /*height: 24px;*/
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  /*background-color: transparent;*/
  margin: 17px 0 13px;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;

}

/*.form__item:focus {*/
  /*outline-color: yellow; /* цвет обводки — жёлтый */
  /*outline-style: dashed;/* стиль линии — прерывистая */
  /*outline-width: 3px; /* толщина обводки — 3px */
/*}*/

.form__item::placeholder {
  font-size: 14px;
  font-family: 'Inter', Arial, sans-serif;
  line-height: 17px;
  font-weight: normal;
  color: #000;
}

.form__item::-webkit-input-placeholder {
  font-size: 14px;
  font-family: 'Inter', Arial, sans-serif;
  line-height: 17px;
  font-weight: normal;
  color: #000;
}

.form__item::-moz-placeholder {
  font-size: 14px;
  font-family: 'Inter', Arial, sans-serif;
  line-height: 17px;
  font-weight: normal;
  color: #000;
}

.form__item::-ms-input-placeholder {
  font-size: 14px;
  font-family: 'Inter', Arial, sans-serif;
  line-height: 17px;
  font-weight: normal;
  color: #000;
}
