.info__name {
  font-size: 42px;
  line-height: 1.14;
  font-weight: 500;
  color: #fff;
  margin: 0;
  display: flex;
  margin-right: -28px;
}

@media (max-width: 619px) {
  .info__name {
    font-size: 27px;
    line-height: 1.22;
  }
}