.info__description {
  font-size: 18px;
  line-height: 1.22;
  font-weight: normal;
  color: #fff;
  margin: 10px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(100% - 42px);
}

@media (max-width: 920px) {
  .info__description {
    text-align: center;
  }
}

@media (max-width: 619px) {
  .info__description {
    font-size: 14px;
    line-height: 1.21;
    margin-bottom: 6px;  
    max-width: calc(100% - 28px);  
  }
}