.popup__contact-info {
  width: 358px;
  margin: 31px auto 37px;
  padding: 0;
  border: 0;
}

@media (max-width: 619px) {
  .popup__contact-info {
    width: 238px;
    margin-top: 46px;
    margin-bottom: 25px;
  }
}