.info__button {
  border: 1px solid #fff;
  box-sizing: border-box;
  background-color: #000;
  height: 24px;
  width: 24px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: -42px;
  background-image: url(../../../images/edit-button.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .4s linear;
}

@media (max-width: 619px) {
  .info__button {
    width: 18px;
    padding: 0;
    background-size: 7.5px 7.5px;
    height: 18px;
    right: -28px;
    top: 8px;
  }
}

.info__button:hover {
  opacity: .6;
}