.profile__button-add {
  min-height: 50px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #000;
  min-width: 150px;
  cursor: pointer;
}

@media all and (max-width: 619px) {
  .profile__button-add {
    min-width: 282px;
  }
}

.profile__button-add:hover {
  opacity: .6;
}