.element__icon {
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 0;
  background: url(../../../images/caption-like.svg) center/cover no-repeat;
  height: 19px;
  width: 22px;
  transition: opacity .4s linear;
}

.element__icon:hover {
  opacity: .5;
}