.footer {
  padding-top: 67px;
  padding-bottom: 60px;
  color: #545454;
  margin: 0 auto;
  max-width: 880px;
}

@media screen and (max-width: 920px) {
  .footer {
    max-width: 581px;
  }
}

@media all and (max-width: 619px) {
  .footer {
    max-width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}