.form-edit__item {
  font-family: 'Inter', Arial, sans-serif;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 17px 0 13px;
  padding: 0 0 10px;
  font-size: 14px;
  line-height: 1.21;
  font-weight: normal;
  vertical-align: baseline;
}

.form-edit__item::placeholder {
  font-size: 14px;
  font-family: 'Inter', Arial, sans-serif;
  line-height: 1.21;
  font-weight: normal;
  color: #c4c4c4;
}

.form-edit__item::-webkit-input-placeholder {
  font-size: 14px;
  font-family: 'Inter', Arial, sans-serif;
  line-height: 1.21;
  font-weight: normal;
  color: #c4c4c4;
}

.form-edit__item::-moz-placeholder {
  font-size: 14px;
  font-family: 'Inter', Arial, sans-serif;
  line-height: 1.21;
  font-weight: normal;
  color: #c4c4c4;
}

.form-edit__item::-ms-input-placeholder {
  font-size: 14px;
  font-family: 'Inter', Arial, sans-serif;
  line-height: 1.21;
  font-weight: normal;
  color: #c4c4c4;
}

@media (max-width: 619px) {
  .form-edit__item {
    margin-bottom: 0;
    margin-top: 30px;
  }
}